body {
    background-color: chocolate;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 0 10px rgba(1.5, 1.5, 1.5, 1.5);
}

input[type="text"], select {
    padding: 10px;
    border: 0.01px solid white;
    border-radius: 4px;
}

button {
    display: block;
    margin-top: 20px;
    border-radius: 4px;
    padding: 10px 40px 10px 40px;
    background-color: #2cd42c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}